[project]
name = "koding-dan-kecerdasan-artificial"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "dotenv>=0.9.9",
    "gradio>=5.49.1",
    "ipykernel>=6.30.1",
]
